<fieldset class="picture" data-picture_id="<%= f.object.id %>">
	<div class="wrapper--flex">
		<div class="col--two">
			<i class="fa fa-arrows-v"></i>
			<%= image_tag f.object.image.url if f.object.image.url.present? %>
		</div>
		<div class="col--two">
		  <%= f.label :image%>
		  <%= f.file_field :image %>
		  <%= f.label :description %>
		  <%= f.text_field :description %>
		  <%= unless f.object.new_record? 
		    f.check_box('_destroy') + f.label('_destroy','Remove')
		    end
		    %>
		</div>
	</div>
</fieldset>