<div class="helpful_knowledge">	
	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/artwork_requirements.svg' %>
		<h2 class="title">Help us help you</h2>
		<p>Quality starts with good ingredients.  There is no magic.</p>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="col--half">
			<h3>Sending us files</h3>
			<p>Large files can be sent using Dropbox.com or Wetransfer.com. Vector based files can simply be sent by email.</p>
			<h3>File Requirements</h3>
			<p>Vector based files are always preferred  ( Ai, EPS, PDF). These art files are always clean, can be sized/scaled infinitely, cut to shape with a router or laser without any loss of quality or fidelity. We do however recommend that all fonts be converted to outlines. If your files have any images embedded, then read below about appropriate resolution to ensure your images are suitable.</p>
			<p>You yourself may not have the ability to open these type of files.</p>
			<p>No problem!  You can still forward us these files. Just be resourceful and get them from the correct source.</p>
		</div>
		<div class="col--half">
			<p>Image based files. Now this is where things get complicated and often fall apart.</p>
			<p>Raster based files, also referred to as Image files MUST BE of sufficient Resolution. ( PPI/DPI )  Examples of these file types are  TIF, PSD, JPG Read below about appropriate resolution to ensure your images are suitable.</p>
			<p>In our experience we find that the use of .jpg files are popular. They are terrific for the purpose of visually communicating,  however  they seldom meet our criteria for print quality.</p>
			<p>Files that are saved as a JPG, PNG or GIF cannot be reopened or altered.</p>
			<p>You can learn more about the difference between vector and raster art files on the internet.</p>
		</div>
	</div>

	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/appropriate_resolution.svg' %>
		<h2 class="title">Appropriate Resolution</h2>
		<p>Pixelated images are the result of an inadequate file.</p>
		<p>Always begin with quality ingredients.</p>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/artwork/DPI_effect.tif'%>
		<p>PPI ( pixels per inch ) refers to the input resolution of a photograph or image. In printing, DPI (dots per inch) refers to the output resolution of a printer. Dots Per Inch is the physical dot density of an image when it is reproduced. The larger an image is produced the fewer dots per inch or vice versa. For example, an image approx 4'' wide at 300 DPI enlarged to 16'' wide is now approx 75 DPI. It’s just basic math.</p>
		<p>When you are checking image resolution be reminded that it needs to be accessed by the actual size in which it will be printed.</p>
		<h3>Average resolution for suitable viewing at various distances</h3>
		<p>Less than 3 feet - 200 ppi /  a poster for example</p>
		<p>50 feet or less - 150 ppi / a lawn sign for example</p>
		<p>Over 10 feet - 100 ppi / a vehicle for example</p>
		<p>over 250 feet - 50 ppi / a bulletin for example </p>
	</div>
	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/file_orientation.svg' %>
		<h2 class="title">Dimensions and orientation</h2>
		<p>Let’s be clear in our communications</p>
	</div>
	<div class="wrapper">
		<p>Portrait is taller. Just like when you take picture of a person.</p>
		<p>Landscape is wider. Just like when you take pictures of landscapes.</p>
		<p>We should always be clear when communicating dimensions and/or shape</p>
	</div>
	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/production_ready.svg' %>
		<h2 class="title">Getting it production ready</h2>
		<p>Let’s check our homework to make sure we are set up for success</p>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/artwork/filestype_table.jpg' %>
	</div>
</div>