<div class="helpful_knowledge">
	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/design_with_type.svg' %>
		<h2 class="title">Choosing The Right Colour</h2>
	</div>
	<div class="wrapper choosing-colour">
		<p><span class="bold">Define:</span> the mood and goal of your project</p>
		<p><span class="bold">Choose:</span> the colour you feel best captures and expresses this mood</p>
		<p><span class="bold">Experiment:</span> with different possibilities</p>
		<p><span class="bold">Refine:</span> your colour options down</p>
		<p><span class="bold">Please keep in mind:</span></p>
		<p>If it doesn’t work in black and white it will never work.</p> 
		<p>Colour will never make up for a bad design.</p>
		<p><a href="http://www.colormatters.com/color-and-design/basic-color-theory" target="_blank">http://www.colormatters.com/color-and-design/basic-color-theory</a></p>
	</div>

	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/choosing_colour.svg' %>
		<h2 class="title">Pantone Colours</h2>
	</div>
	<div class="wrapper">
		<p>In a Pantone system colour is referenced universally through a designated number system.</p>
		<div class="wrapper--flex">
			<div class="col--half">
				<%= image_tag 'helpful_knowledge/colour/rubric.jpg' %>
			</div>
			<div class="col--half">
				<%= image_tag 'helpful_knowledge/colour/pantone.jpg' %>
			</div>
		</div>
		<a href="http://www.pantone.com/color-finder" target="_blank">Find more about Pantone colours http://www.pantone.com/color-finder</a>
		<%= image_tag 'helpful_knowledge/colour/adobe_colours_1.jpg' %>
		<p>Ready to Use Schemes</p>
		<%= image_tag 'helpful_knowledge/colour/adobe_colours_2.jpg' %>
		<p>Make your Own Scheme</p>
		<p><a href=http://www.color.adobe.com"" target="_blank">Find more about Adobe colours http://www.color.adobe.com</a></p>
		<%= image_tag 'helpful_knowledge/colour/pinterest_color_scheme.jpg' %>
		<p>When you are at <a href="http://www.pinterest.com" target="_blank">http://www.pinterest.com</a> Search for Color Scheme and use different filters at the top of site.
</p>
	</div>

	<div class="hk-section-heading">
		<h2 class="title">Facets of Colour</h2>
	</div>
	<div class="wrapper">
		<p>An example of how colour can portray a different mood.</p>
		<%= image_tag 'helpful_knowledge/colour/color-1.jpg' %>
		<p>Find more Hints</p>
		<p><a href="https://www.buzzfeed.com/nicolenguyen/how-to-choose-a-color-palette?utm_term=.cdrOODKQdV#.jdW88xpLrQ
" target="_blank">https://www.buzzfeed.com/nicolenguyen/how-to-choose-a-color-palette?utm_term=.cdrOODKQdV#.jdW88xpLrQ
</a></p>
	</div>	

	<div class="hk-section-heading">
		<h2 class="title">Colour Visibility Study</h2>
	</div>
	<div class="wrapper">
		<p>Comparative visibility of full value colour combinations. These 18 colour combinations for lettering, using only primary and secondary colors of full hue and value, were tested for readability at a distance. Results averaged out in the sequence shown, with #1 being the most readable.</p>
		<%= image_tag 'helpful_knowledge/colour/color-2.jpg' %> 

	</div>

	<div class="hk-section-heading">
		<h2 class="title">Consider Environment</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/colour/consider_environment.jpg' %>
		<p>The background colour of a sign is important. Do you want the sign to blend in ( be camouflaged ) with only the lettering to be the focus or do you want the existence of the sign to be prominent and thus bringing your eyes to the board first and then the message.</p>
	</div>
</div>