<div class="helpful_knowledge">	
	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/design_with_type.svg' %>
		<h2 class="title">How to choose proper fonts</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/type/type-1.jpg' %>
		<p>Typography is, quite simply, the art and technique of selecting and arranging type. It's central to the skills of a designer and is about much more than making the words legible. Your choice of typeface and how you make it work with your message, colour scheme, design theme and so on will make the difference between a good and great design.</p>
	</div>

	<div class="hk-section-heading">
		<h2 class="title">Letter Weight and Case</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/type/type-2.jpg' %>
	</div>

	<div class="hk-section-heading">
		<h2 class="title">Line Spacing</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/type/type-3.jpg' %>
	</div>

	<div class="hk-section-heading">
		<h2 class="title">Weight and Colour Values</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/type/type-4.jpg' %>
	</div>

	<div class="hk-section-heading">
		<h2 class="title">Letter Spacing</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/type/type-5.jpg' %>
	</div>

	<div class="hk-section-heading">
		<h2 class="title">Font Categories</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/type/type-6.jpg' %>
	</div>

	<div class="hk-section-heading">
		<h2 class="title">Line Length Variations</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'helpful_knowledge/type/type-6.jpg' %>
	</div>
</div>