<div class="helpful_knowledge">
	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/size_references.svg' %>
		<h2 class="title">Size Reference Examples</h2>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="col--half">
			<%= image_tag 'helpful_knowledge/size/wall_adjacent_entrance.jpg' %>
			<p>Wall adjacent to an entrance</p>
			<%= image_tag 'helpful_knowledge/size/exterior_wall_afar.jpg' %>
			<p>Exterior Wall from afar</p>
			<%= image_tag 'helpful_knowledge/size/banner_reference.jpg' %>
			<p>Banner Reference</p>
		</div>
		<div class="col--half">
			<%= image_tag 'helpful_knowledge/size/entrance_doors.jpg' %>
			<p>Entrance Doors</p>
			<%= image_tag 'helpful_knowledge/size/courtyard_area_afar.jpg' %>
			<p>Courtyard Area from afar</p>
			<%= image_tag 'helpful_knowledge/size/loading_dock_area.jpg' %>
			<p>Loading dock area</p>
		</div>
	</div>

	<div class="hk-section-heading" id="conversion_tables">
		<%= image_tag 'helpful_knowledge/icons/size_references.svg' %>
		<h2 class="title">Letter Visibility & Conversion Tables</h2>
		<p>Can your message be read ?</p>
	</div>
	<div class="wrapper">
		<p>Understanding the correlation between viewing distance and letter height will ensure your message is legible. It will often dictate the overall size of your sign.</p>
		<p>Knowing thicknesses will help you better understand exactly what you are paying for and whether it lives up to expectations.</p>
		<%= image_tag 'helpful_knowledge/size/letter_visibility_chart.jpg' %>
		<%= image_tag 'helpful_knowledge/size/decimal_equivalents.jpg' %>
	</div>

	<div class="hk-section-heading">
		<%= image_tag 'helpful_knowledge/icons/size_references.svg' %>
		<h2 class="title">Taking Pictures and Measurements</h2>
		<p>Why explain what you can show ? Pictures are very valuable. We also use pictures to show you exactly how your completed project will look, though our experience has proven it always looks better. Accurate measurements, does this need explanation ?</p>
	</div>
	<div class="wrapper">
		<div class="wrapper--flex take-pics">
			<div class="col--half">
				<%= image_tag 'helpful_knowledge/size/pic_measure-1.png' %>
			</div>
			<div class="col--half">
				<p>Pictures should be taken straight on and centered to the subject. Accurate measurements will permit us to scale the picture for the development of your proposal. Alternatively a member of our team can be assigned to provide this service</p>
			</div>
		</div>
		<div class="wrapper--flex take-pics">
			<div class="col--half">
				<%= image_tag 'helpful_knowledge/size/pic_measure-2.png' %>
			</div>
			<div class="col--half">
				<p>Using the measurements provided we will size or scale the picture proportionately. This will allow us to overlay proposed solutions in our communications.</p>
			</div>
		</div>
		<div class="wrapper--flex take-pics">
			<div class="col--half">
				<%= image_tag 'helpful_knowledge/size/pic_measure-3.png' %>
			</div>
			<div class="col--half">
				<p>Vehicles pictures and measurements should be taken of all sides to be lettered. Remember to be centered to your target.</p>
			</div>
		</div>
		<div class="wrapper--flex take-pics">
			<div class="col--half">
				<%= image_tag 'helpful_knowledge/size/pic_measure-4.png' %>
			</div>
			<div class="col--half">
				<p>Try to get your horizon line level. With your camera lens centered both vertically and horizontally this will ensure your visual proposal to be very accurate.</p>
			</div>
		</div>
		<div class="wrapper--flex take-pics">
			<div class="col--half">
				<%= image_tag 'helpful_knowledge/size/pic_measure-5.png' %>
			</div>
			<div class="col--half">
				<p>You can see how pictures taken incorrectly distort the subject and compromises our ability to communicate.</p>
			</div>
		</div>
		<div class="wrapper--flex take-pics">
			<div class="col--half">
				<%= image_tag 'helpful_knowledge/size/pic_measure-6.png' %>
			</div>
			<div class="col--half">
				<p>The completion of your project should look the same as the proposal.Our experience however has been that it always looks better.</p>
			</div>
		</div>
	</div>
</div>