<%= form_for(portfolio_section) do |f| %>
  <% if portfolio_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio_section.errors.count, "error") %> prohibited this portfolio_section from being saved:</h2>

      <ul>
      <% portfolio_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
