<p id="notice"><%= notice %></p>

<section class="portfolio">
  <% @portfolio_sections.each do |portfolio_section| %>
    <div class="section-heading">
      <div class="wrapper">
        <h2 class="title"><%= portfolio_section.title %> </h2>
        <p style="text-align: center;"><%= portfolio_section.description %></p>
      </div>
    </div>
    <div class="wrapper wrapper--flex">
      <% portfolio_section.sub_categories.rank(:sub_category_order).each do |sub_category| %>
        <div class="col--three-margin">
          <%= link_to sub_category do %>
            <h3><%= sub_category.title %></h3>
            <div class="sub_cat_image">
              <%= image_tag sub_category.pictures.rank(:picture_order).first.image.url if sub_category.pictures.present? %>
              <div class="overlay"></div>
            </div>
            <p><%= sub_category.description %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>  
</section>




