<div class="about-page">
	<div class="about-section-heading">
		<h2 class="title">About Us</h2>
	</div>
	<div class="wrapper">
		<%= image_tag 'main_page/Logo-About-Us.png' %>
		<%= image_tag 'about/history_1.jpg' %>
		<p>James Signs began in 1951 by James K. Reid in West End Toronto.</p>
		<p>In the late 80's his son by the same name took the reins.</p>
		<p>In this transition Ken witnessed signs being hand lettered by skilled signwriters using paint and brush.  As technology evolved so did the sign industry.  Though computers and mechanical equipment play a significant role in the manufacturing process they are all merely tools.  Successful sign making is till an art which takes years of education, experience and practice.  A skill that continues to be taught and practiced by our growing team of professionals.</p>
		<p>In the late 80's Ken's "little brother" from "Big Brothers" joined the team and continues to play a leading role on our team.</p>
		<p>In 2017 as part of a succession plan a former employee and friend partnered up with Ken.  Sergio Rodriques and his father Hentry have now become a strong part of our team and family.</p>
		<p>Ken and Sergio share the same value system which is why this partnership made so much sense.  They are confident with this new chapter.  The team which sergio worked with remains in tact along with "Little Brother" Tony.</p>

		<p>Our philosophy has always been and will continue to be that a successfull business is the by product of satisfied customers.  Whether it be our customers, staff or suppliers, we are all partners which is why we value all of our good relationships.</p>
		<p>Who can predict the future? Right now we all enjoy what we do.</p>
		<%= image_tag 'about/history_2.jpg' %>
		<%= image_tag 'about/history_3.jpg' %>
		<%= image_tag 'about/history_4.jpg' %>
	</div>
</div>