<section class="b_and_a">
	<div class="wrapper">
		<% @before_and_afters.rank(:before_and_after_order).each do |before_and_after| %>
			<p><%= before_and_after.date %></p>
			<div class="wrapper--flex">
				<div class="col--half">
					<%= image_tag before_and_after.pictures.rank(:picture_order).first.image.url %>
				</div>
				<div class="col--half">
					<h2><%= before_and_after.title %></h2>
					<p><%= before_and_after.description %></p>
				</div>
			</div>
			<% before_and_after.pictures.rank(:picture_order).offset(1).each do |pic| %>
				<%= image_tag pic.image.url %>
				<p><%= pic.description %></p>
			<% end %>
			<hr>
		<% end %>
	</div>
</section>