<header style="background: url(<%= asset_url 'main_page/banner/banner_gradient_1.jpg'%>); background-size: cover; background-position: center top">
	<div class="slogan">
		<h2>Understanding your challenges with clarity is the first step in developing a solution that works.</h2>
	</div>
	<!-- <div class="overlay"></div> -->
</header>
<section class="services" id="services" >
	<div class="section-heading white" >
		<h2 class="title">Capabilities</h2>
		<p>The art of sign making is still an intellectual pursuit.</p>
		<p>However, we use more than just our imagination to deliver solutions to the finish line.</p>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="idea col--three-margin">
			<div class="icon-wrapper">
				<%= embedded_svg 'helpful_knowledge/icons/design_or.svg', class: 'icon' %>
			</div>
			<h3>Design</h3>
			<p>Great solutions begin with understanding the problem with absolute clarity.</p>
		</div>
		<div class="idea col--three-margin">
			<div class="icon-wrapper">
				<%= embedded_svg 'helpful_knowledge/icons/equipment.svg', class: 'icon' %>
			</div>
			<h3>Equipment</h3>
			<p>Simply tools that assist experienced people in bringing solutions to life.</p>
		</div>
		<div class="idea col--three-margin">
			<div class="icon-wrapper">
				<%= embedded_svg 'helpful_knowledge/icons/installation.svg', class: 'icon' %>
			</div>
			<h3>Installation</h3>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
	</div>
</section>

<% if @recent_projects.present? %>
	<section class="recent-projects" id="projects">
		<div class="section-heading">
			<h2 class="title">Recent Projects</h2>
			<p>Everyone likes to look. Go ahead!</p>
			<p>Maybe you will see something that will inspire an idea for yourself.</p>
		</div>
		<div class="wrapper">
			<div class="recent-carousel">
				<% @recent_projects.rank(:project_order).each do |project| %>
					<div class="carousel-cell" data-title="<%= project.title%>" data-desc="<%= project.description %>" data-sub_title="<%= project.sub_category.title %>" data-sub_path="<%= sub_category_path(project.sub_category)%>">
						<div class="carousel-image"  style="background: url(<%=project.pictures.rank(:picture_order).first.image.url if project.pictures.present? %>)">		
						</div>
					</div>
				<% end %>
			</div>
			<div class="carousel-info wrapper--flex">
				<div class="left col--two">
					<h3 class="flkty-title"><%= @recent_projects.rank(:project_order).first.try(:title) %></h3>	
					<p class="flkty-desc"><%= @recent_projects.rank(:project_order).first.try(:description) %></p>
				</div>
				<div class="right col--two">
					<p>Belongs to:</p>
					<h3 class="flkty-sub-title">
						<a href="<%= sub_category_path(@recent_projects.rank(:project_order).first.sub_category) %>" class="flkty-sub-path"><%= @recent_projects.rank(:project_order).first.try(:sub_category).try(:title) %></a>
					</h3>
				</div>
			</div>
		</div>
	</section>
<% end %>

<section class="learning" id="faq">
	<div class="section-heading">
		<h2 class="title">Helpful Knowledge</h2>
		<p>"You don't know, what you don't know, because you don't know"</p>
		<p>Knowledge is power. It should never be undervalued.This resource centre of helpful tips is immeasurable in deliveringthe best results on every project.</p>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="idea col--three-margin">
			<%= link_to(helpful_knowledge_artwork_path) do %>
				<div class="icon-wrapper">
					<%= embedded_svg 'helpful_knowledge/icons/artwork_requirements_or.svg', class: 'icon' %>
				</div>
				<h3>Artwork Requirements</h3>
			<% end %>
			<p>Quality starts with good ingredients. There is no magic.</p>
		</div>
		<div class="idea col--three-margin">
			<%= link_to helpful_knowledge_size_path(anchor:  'conversion_tables') do %>

				<div class="icon-wrapper">
					<%= embedded_svg 'helpful_knowledge/icons/conversion_tables.svg', class: 'icon' %>
							</div>
				<h3>CONVERSION TABLES</h3>
			<% end %>
			<p>Material thickness, Metric table, letter visibility chart, inch fraction chart</p>
		</div>
		<div class="idea col--three-margin">
			<%= link_to(helpful_knowledge_size_path) do %>
				<div class="icon-wrapper">
					<%= embedded_svg 'helpful_knowledge/icons/size_references_or.svg', class: 'icon' %>
				</div>
				<h3>SIZE REFERENCES</h3>
			<% end %>
			<p>How big is big? How small is small?</p>
		</div>
		<div class="idea col--three-margin">
			<%= link_to(helpful_knowledge_design_type_path) do %>
				<div class="icon-wrapper">
					<%= embedded_svg 'helpful_knowledge/icons/design_with_type_or.svg', class: 'icon' %>
				</div>
				<h3>DESIGN WITH TYPE</h3>
			<% end %>
			<p>Fonts or letter styles have their own personality.</p>
		</div>
		<div class="idea col--three-margin">
			<%= link_to(helpful_knowledge_colour_path) do %>
				<div class="icon-wrapper">
					<%= embedded_svg 'helpful_knowledge/icons/choosing_colour_or.svg', class: 'icon' %>
				</div>
				<h3>CHOOSING COLOUR</h3>
			<% end %>
			<p>Colour adds emotion to your message.</p>
		</div>
		<div class="idea col--three-margin">
			<%= link_to(helpful_knowledge_videos_path) do %>
				<div class="icon-wrapper">
					<%= embedded_svg 'helpful_knowledge/icons/educational_video_or.svg', class: 'icon' %>
				</div>
				<h3>Educational Video</h3>
			<% end %>
			<p>Show and Tell (coming soon)</p>
		</div>
	</div>
</section>

<section class="about" id="about">
	<div class="section-heading">
		<h2 class="title">About James Signs</h2>
		<p>Family owned and operated since 1951 in the west end of Toronto.Our strongest asset is the lasting relationships we have builtwith a variety of clients through confidence, trust and honesty.</p>
	</div>
	<div class="wrapper">
		<%= image_tag 'main_page/Logo-About-Us.png', class: 'years65'%>
	</div>
	<div class="center-text">
		<%= link_to 'Find More', about_path, class: 'button' %>
	</div>
</section>

<section class="clients">
	<div class="section-heading">
		<h2 class="title">Our Clients</h2>
	</div>
	<div class="wrapper">
		<div class="wrapper--flex client-flex">
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo1.png' %>
			</div>
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo2.png' %>
			</div>
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo3.png' %>
			</div>
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo4.png' %>
			</div>
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo5.png' %>
			</div>
		</div>
		<div class="wrapper--flex client-flex">
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo6.png' %>
			</div>
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo7.png' %>
			</div>
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo8.png' %>
			</div>
			<div class="col--five">
				<%= image_tag 'main_page/clients_logos/logo9.png' %>
			</div>
		</div>
	</div>
</section>

<script>
	// Flickity
	var $carousel = $('.recent-carousel').flickity({
	  // options
	  cellAlign: 'left',
	  contain: true
	});


	var flkty = $carousel.data('flickity');

	console.log(flkty)

	$carousel.on( 'select.flickity', function() {
	  // set image caption using img's alt
	  $('.flkty-title').text( flkty.selectedElement.dataset.title )
	  $('.flkty-desc').text( flkty.selectedElement.dataset.desc )
	  $('.flkty-sub-path').text( flkty.selectedElement.dataset.sub_title )
	  $('.flkty-sub-path').attr('href', flkty.selectedElement.dataset.sub_path)
	});

	// Side crumb links
	$('.side-crumbs a').on('click',function(){
    var target = $(this.hash);
    console.log(target)
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html, body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
	});

	// Navigate through recent projects
	$('.js-project-group').first().removeClass('hidden-display').removeClass('hidden-opacity')
	$('.page').first().addClass('selected')

	$('.page').on('click', function(){
		var page = $(this).data('group')
		var group = ".group-" + page
		console.log(group)
		$('.page').removeClass('selected')
		$(this).addClass('selected')
		$('.js-project-group').addClass('hidden-opacity hidden-display')
		$(group).removeClass('hidden-display')
		$(group).removeClass('hidden-opacity')
		// $(group).fadeIn()
	});
</script>