
<section class="imagineering">
	<div class="section-heading" id="imagineering">
		<h2 class="title">Imagineering & Design</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eius natus quisquam culpa veniam laudantium dolores tenetur ducimus doloremque id, nihil, aliquid, perferendis nisi vitae.</p>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
	</div>
</section>

<section class="manufacturing">
	<div class="section-heading">
		<h2 class="title">Manufacturing</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tempore quasi, nam, perspiciatis voluptates esse blanditiis, doloribus ex maxime, quibusdam quam. Reiciendis assumenda, expedita illum!</p>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>	
	</div>
</section>

<section class="installation">
	<div class="section-heading">
		<h2 class="title">Installation</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, magnam laudantium, doloribus eaque labore, eligendi eum nobis voluptatibus id natus velit commodi ea distinctio sequi.</p>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>	
	</div>
</section>

<section class="vehicle">
	<div class="section-heading">
		<h2 class="title">Vehicle Lettering</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ullam quo optio accusamus, minima sequi non, illum, debitis sed ipsum odio autem dolores, fugiat nostrum.</p>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>	
	</div>
</section>

<section class="misc">
	<div class="section-heading">
		<h2 class="title">Miscellaneous</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere suscipit nostrum soluta voluptatum. Aspernatur accusamus repellendus id tenetur est corporis facere maxime obcaecati ab consequatur.</p>
	</div>
	<div class="wrapper wrapper--flex">
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
		<div class="idea col--three-margin">
			<%= image_tag 'lightbulb.png', class: 'icon' %>
			<h3>Imagineering</h3>
			<%= image_tag 'women.png', class: 'photo' %>
			<p>Find helpful information on how to design and properly prepare files for production</p>
		</div>
	</div>
</section>