<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<% @sub_categories.each do |sub_category| %>
  <h3 style="text-align: center;"><%= sub_category.portfolio_section.title %> - <%= sub_category.title %></h3>
  <hr>
  <table id="sortable-<%= sub_category.id %>" data-sub_cat_id="<%= sub_category.id %>"data-update_url="<%= sort_projects_path %>">
    <% if sub_category.projects.present? %>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Sub category</th>
          <th>Title</th>
          <th>Recent</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    <% end %>

    <tbody class="projects" >
      <% sub_category.projects.rank(:project_order).each do |project| %>
        <tr class="project-<%= sub_category.id %>" data-project_id="<%= project.id %>" data-rank="<%= project.project_order %>">
          <td><%= image_tag 'move-icon'%></td>
          <td><%= image_tag project.pictures.rank(:picture_order).try(:first).try(:image).try(:url) %></td>
          <td><%= project.sub_category.title %></td>
          <td><%= project.title %></td>
          <td>
            <%= form_for project, remote: true do |f| %>
            <%= f.check_box :recent,
                  data: {
                    remote: true,
                    url: url_for(action: :toggle_recent, id: project.id.to_i),
                    method: "POST"
                  } %>
              <% end %>
          </td>
          <td><%= link_to 'Show', project, class: 'button button--primary' %></td>
          <td><%= link_to 'Edit', edit_project_path(project), class: 'button button--primary' %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button--primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Project', new_project_path(sub_category_id: sub_category.id), class: 'button button--tertiary' %>
  <hr>
<% end %>

<br>

<script>
    // Drag and Droppable Order

    // Get all the tables on the page
    var table_id_array = $('table').map(function(){
      return $(this).attr('id')
    });

    // Loop through each and add Sortable unique id to each
    $.each(table_id_array, function(index, value){
      var sortable_id = '#' + value
      var sub_cat_id = $(sortable_id).data('sub_cat_id')
      var project_class = '.project-' + sub_cat_id

      $(sortable_id).sortable()
      $(sortable_id).sortable({
        axis: 'y',
        items: project_class,
        cursor: 'move',
        stop: function(e, ui){
          ui.item.children(project_class).effect('highlight', {}, 1000)
          },
          update: function(e, ui){
            item_id = ui.item.data('project_id')
            row_order = ui.item.index(project_class)
            console.log({item_id, row_order})
            $.ajax({
              type: 'POST',
              url: $(this).data('update_url'),
              dataType: 'json',
              data: {id: item_id, project: { project_order_position: row_order}}  
            })
          }
        })
      })
</script>

