<%= form_for(sub_category) do |f| %>
  <% if sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% sub_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :portfolio_section_id %>
    <%= f.collection_select :portfolio_section_id, PortfolioSection.all, :id, :title, {:selected => params[:portfolio_section_id] || sub_category.portfolio_section_id } %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  PICTURES
  <%= f.fields_for :pictures do |picture_form| %>
    <%= render 'picture_fields', f: picture_form %>
  <% end %>

  <%= link_to_add_fields "Add Another Image", f, :pictures %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('.edit_sub_category').on('click', '.add_fields', function(e){
    e.preventDefault();
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    console.log($(this))

    $(this).before($(this).data('fields').replace(regexp, time));
  });
</script>
