<%= form_for(sub_category) do |f| %>
  <% if sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% sub_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :portfolio_section_id %>
    <%= f.collection_select :portfolio_section_id, PortfolioSection.all, :id, :title, {:selected => params[:portfolio_section_id] || sub_category.portfolio_section_id } %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  PICTURES
  <%= f.fields_for :pictures do |picture_form| %>
    <div class="fields">
      <%= picture_form.label :title %>
      <%= picture_form.text_field :title %>
      <%= picture_form.label :image%>
      <%= picture_form.file_field :image %>
      <%= unless picture_form.object.new_record? 
        picture_form.check_box('_destroy') + picture_form.label('_destroy','Remove')
        end
        %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
