<%= form_for(sub_category) do |f| %>
  <% if sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% sub_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :portfolio_section_id, 'Choose Category'.titleize %>
    <%= f.collection_select :portfolio_section_id, PortfolioSection.all, :id, :title, {:selected => params[:portfolio_section_id] || sub_category.portfolio_section_id } %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  
  <% unless current_page?(action: 'new')%>
    <h2 class="page-heading">Pictures</h2>
    <div class="pictures" id="sortable" data-update_url="<%= sort_pictures_path%>">
      <%= f.fields_for :pictures, f.object.pictures.rank(:picture_order) do |picture_form| %>
        <%= render 'picture_fields', f: picture_form %>
      <% end %>
    </div>

    <%= link_to_add_fields "Add Image", f, :pictures %>
  <% end %>
  <div class="actions">
    <%= f.submit "Save Sub Category" %>
  </div>
<% end %>

<script>
  // Add Another Image
  $('.edit_sub_category').on('click', '.add_fields', function(e){
    e.preventDefault();
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    console.log($(this))

    $(this).before($(this).data('fields').replace(regexp, time));
  });

  // Drag and Droppable Order
  $('#sortable').sortable();

  $('#sortable').sortable({
    axis: 'y',
    items: '.picture',
    cursor: 'move',
    stop: function(e, ui){
      ui.item.children('.picture').effect('highlight', {}, 1000)
      },
      update: function(e, ui){
        item_id = ui.item.data('picture_id')
        row_order = ui.item.index('.picture')
        console.log(item_id)
        $.ajax({
          type: 'POST',
          url: $(this).data('update_url'),
          dataType: 'json',
          data: {id: item_id, picture: { picture_order_position: row_order}}  
          })
      }
    })
</script>
