<p id="notice"><%= notice %></p>

<div class="form--contained">
  
  <h1 class="page-heading center-text">Sub Categories</h1>

  <% @portfolio_sections.each do |portfolio_section| %>
    <h3 class="category-heading center-text"><%= portfolio_section.title %></h3>
    <hr>
    <table id="sortable-<%= portfolio_section.id %>" data-portfolio_id="<%= portfolio_section.id %>" data-update_url="<%= sort_sub_categories_path %>">
      <% if portfolio_section.sub_categories.present? %>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Portfolio section</th>
            <th>Title</th>
            <th>Description</th>
            <th colspan="2"></th>
          </tr>
        </thead>
      <% end %>

      <tbody class="sub_categories">
        <% portfolio_section.sub_categories.rank(:sub_category_order).each do |sub_category| %>
          <tr class="sub_category-<%= portfolio_section.id %>" data-sub_category_id="<%=  sub_category.id %>" data-rank="<%= sub_category.sub_category_order %>">
            <td class=".move"><i class="fa fa-arrows-v"></i></td>
            <td><%= image_tag sub_category.pictures.rank(:picture_order).try(:first).try(:image).try(:url) if sub_category.pictures.present?%></td>
            <td><%= sub_category.portfolio_section.title %></td>
            <td><%= sub_category.title %></td>
            <td><%= sub_category.description.truncate(10) %></td>
            <td><%= link_to 'Edit', edit_sub_category_path(sub_category), class: 'button button--primary' %></td>
            <td><%= link_to 'Destroy', sub_category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button--primary button--delete' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Sub Category', new_sub_category_path(portfolio_section_id: portfolio_section.id ), class: 'button button--tertiary' %>
    <hr>
  <% end %>
</div>

<br>

<script>
    // Drag and Droppable Order

    // Get all the tables on the page
    var table_id_array = $('table').map(function(){
      return $(this).attr('id')
    });

    // Loop through each and add Sortable unique id to each
    $.each(table_id_array, function(index, value){
      var sortable_id = '#' + value
      var portfolio_id = $(sortable_id).data('portfolio_id')
      var sub_cat_class = '.sub_category-' + portfolio_id

      $(sortable_id).sortable()
      $(sortable_id).sortable({
        axis: 'y',
        items: sub_cat_class,
        cursor: 'move',
        stop: function(e, ui){
          ui.item.children(sub_cat_class).effect('highlight', {}, 1000)
          },
          update: function(e, ui){
            item_id = ui.item.data('sub_category_id')
            console.log(ui)
            row_order = ui.item.index(sub_cat_class)
            console.log({item_id, row_order})
            $.ajax({
              type: 'POST',
              url: $(this).data('update_url'),
              dataType: 'json',
              data: {id: item_id, sub_category: { sub_category_order_position: row_order}}  
            })
          }
        })
      })
</script>


