<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Sub Categories</h1>

<% @portfolio_sections.each do |portfolio_section| %>
  <h3><%= portfolio_section.title %></h3>
  <table id="sortable-<%= portfolio_section.id %>" data-update_url="<%= sort_sub_categories_path %>">
    <% if portfolio_section.sub_categories.present? %>
      <thead>
        <tr>
          <th></th>
          <th>Portfolio section</th>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    <% end %>

    <tbody class="sub_categories">
      <% portfolio_section.sub_categories.rank(:sub_category_order).each do |sub_category| %>
        <tr class="sub_category" data-sub_category_id="<%=  sub_category.id %>" data-rank="<%= sub_category.sub_category_order %>">
          <td><%= image_tag sub_category.pictures.rank(:picture_order).try(:first).try(:image).try(:url) %></td>
          <td><%= sub_category.portfolio_section.title %></td>
          <td><%= sub_category.title %></td>
          <td><%= sub_category.description.truncate(10) %></td>
          <td><%= link_to 'Show', sub_category %></td>
          <td><%= link_to 'Edit', edit_sub_category_path(sub_category) %></td>
          <td><%= link_to 'Destroy', sub_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Sub Category', new_sub_category_path(portfolio_section_id: portfolio_section.id ) %>
  <hr>
<% end %>

<br>

<script>
    // Drag and Droppable Order

    // Get all the tables on the page
    var table_id_array = $('table').map(function(){
      return $(this).attr('id')
    });

    // Loop through each and add Sortable unique id to each
    $.each(table_id_array, function(index, value){
      var sortable_id = '#' + value
      $(sortable_id).sortable()
      $(sortable_id).sortable({
        axis: 'y',
        items: '.sub_category',
        cursor: 'move',
        stop: function(e, ui){
          ui.item.children('.sub_category').effect('highlight', {}, 1000)
          },
          update: function(e, ui){
            item_id = ui.item.data('sub_category_id')
            row_order = ui.item.index('.sub_category')
            console.log({item_id, row_order})
            $.ajax({
              type: 'POST',
              url: $(this).data('update_url'),
              dataType: 'json',
              data: {id: item_id, sub_category: { sub_category_order_position: row_order}}  
            })
          }
        })
      })
</script>


