<!DOCTYPE html>
<html>
  <head>
    <title>JamesSigns</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper admin">
    	<h1 style="color: blue;">this is the Admin</h1>
      <%= link_to 'Main', main_page_path %>
      <%= link_to 'Admin', admin_path %>
      <div class="admin">
        <%= yield %>
      </div>
    </div>
  </body>
</html>