<!DOCTYPE html>
<html>
  <head>
    <title>JamesSigns</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://use.fontawesome.com/43bdd233ba.js"></script>
  </head>

  <body>
    <div class="admin">
      <div id="admin--only">
        <div class="sidebar">
          <%= link_to main_page_path do %>
            <%= image_tag 'logoheader_white.svg', class: 'logo-header--admin' %>
          <% end %>
          <%= link_to 'Admin', admin_path, class: 'sidebar--header' %>
          <%= link_to 'Categories', sub_categories_path %>
          <%= link_to 'Projects', projects_path %>
          <%= link_to 'Before & Afters', before_and_afters_path %>
          <a href="http://www.upatfive.ca/" target="_blank"><%= image_tag 'up-at-five-logo.png', class: 'uat-logo' %></a> 
        </div>
        <div class="admin--content">
          <%= yield %>
        </div>
      </div>
    </div>

    <script>
      $('#notice').addClass('hidden')

      if($('#notice').text()){
        // $('#notice').removeClass('hidden')
        $('#notice').removeClass('hidden').fadeOut(2000, function(){
        })
      }
    </script>
  </body>
</html>