<!DOCTYPE html>
<html>
  <head>
    <title>JamesSigns</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Flickety  -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://use.fontawesome.com/43bdd233ba.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <nav id="main">
      <div class="wrapper">
        <%= link_to 'James Signs', main_page_path %>
        <ul>
          <li class="portfolio-link pointer <%= menu_hl(portfolio_sections_path)  %> <%= menu_hl(sub_category_path(@sub_category)) if @sub_category.present? %>">What We Do</li>
          <li class="knowledge-link pointer <%= menu_hl( helpful_knowledge_artwork_path)  %> <%= menu_hl(helpful_knowledge_size_path)  %> <%= menu_hl(helpful_knowledge_design_type_path)  %> <%= menu_hl(helpful_knowledge_colour_path)  %> <%= menu_hl(helpful_knowledge_videos_path)  %> ">Helpful Knowledge</li>
          <li class="<%= menu_hl(before_and_after_page_path) %>"><%= link_to 'Before and After', before_and_after_page_path %></li>
          <li class="<%= menu_hl(about_path) %>"><%= link_to 'About', about_path %></li>
          <% if current_user.present? %>
            <li class="<%= menu_hl(admin_path) %>"><%= link_to 'Admin', admin_path %></li>
            <li><%= link_to 'logout',destroy_user_session_path , method: :delete %></li>
          <% end %>
        </ul>
      </div>
    <div class="wrapper wrapper--flex portfolio-menu ">
      <% PortfolioSection.all.each do |portfolio| %>
        <div class="col--five-margin">
          <%= link_to portfolio_sections_path(anchor:  portfolio.title.parameterize) do %>
          <div class="portfolio-image">
              <%= image_tag "what_we_do_menu/#{portfolio.try(:menu_picture)}", style: 'max-width: 100%;'%>
              <div class="overlay port-image"></div>
          </div>
            <p><%= portfolio.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="wrapper wrapper--flex knowledge-menu">
      <div class="col--five-margin">
        <%= link_to helpful_knowledge_artwork_path do %>
        <div class="knowledge-image">
          <%= image_tag 'helpful_knowledge/icons/artwork_requirements.svg' %>
        </div>
        <p>Artwork Requirements</p>
        <% end %>
      </div>

      <div class="col--five-margin">
        <%= link_to helpful_knowledge_size_path do %>
        <div class="knowledge-image">
          <%= image_tag 'helpful_knowledge/icons/size_references.svg' %>
        </div>
        <p>Size References</p>
        <% end %>
      </div>

      <div class="col--five-margin">
        <%= link_to helpful_knowledge_design_type_path do %>
        <div class="knowledge-image">
          <%= image_tag 'helpful_knowledge/icons/design_with_type.svg' %>
        </div>
        <p>Design with Type</p>
        <% end %>
      </div>

      <div class="col--five-margin">
        <%= link_to helpful_knowledge_colour_path do %>
        <div class="knowledge-image">
          <%= image_tag 'helpful_knowledge/icons/choosing_colour.svg' %>
        </div>
        <p>Choosing Colour</p>
        <% end %>
      </div>

      <div class="col--five-margin">
        <%= link_to helpful_knowledge_videos_path do %>
        <div class="knowledge-image">
          <%= image_tag 'helpful_knowledge/icons/educational_video.svg' %>
        </div>
        <p>Educational Videos</p>
        <% end %>
      </div>
      
    </div>
    </nav>
    <%= yield %>

    <footer>
      <div class="wrapper wrapper--flex">
        <div class="col--three">
          <p>james signes</p>
          
        </div>
        <div class="col--three">
          <h3>Primary Office and Plant</h3>
          <p class="street-address">975 Westport Crs., Unit 20,</p>
          <p>Mississauga, ON L5T 1E8</p>
          <h3>Secondary Sales Office</h3>
          <p>10 Scarlett Road, Toronto,</p>
          <p>ON M6N 4J6</p>
        </div>
        <div class="col--three phone-number">
          <h3>Contact Us</h3>
          <p><a href="tel:4167674841"> 416.767.4841</a></p>
          <p><a href="tel:18774224841">1.877.422.4841</a></p>
          <p>
            <%= mail_to "mailto:info@james-signs.com", "info@james-signs.com", target: "_blank"%>
          </p>
          <div class="social-icons">
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <div id="to-top">^</div>

    <script>
      $('.portfolio-link').click(function(){
        $('.portfolio-menu').fadeToggle()
        $('.portfolio-menu').css('display', 'flex')
        console.log('down')
      });

      $('.knowledge-link').click(function(){
        $('.knowledge-menu').fadeToggle()
        $('.knowledge-menu').css('display', 'flex')
        console.log('down')
      });

      $('#to-top').click(function(){
        $('html, body').animate({'scrollTop' : 0}, 1000);
      });

    </script>
  </body>
</html>
