<!DOCTYPE html>
<html>
  <head>
    <title>JamesSigns</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://use.fontawesome.com/43bdd233ba.js"></script>
  </head>

  <body>
    <div class="wrapper">
    	<h1 style="color: green;">this is the Public Facing</h1>

      <ul>
        <li class="<%= menu_hl(main_page_path) %>"><%= link_to 'James Signs', main_page_path %></li>
        <li class="<%= menu_hl(portfolio_sections_path)  %> <%= menu_hl(sub_category_path(@sub_category)) if @sub_category.present? %>"><%= link_to 'Portfolio', portfolio_sections_path %></li>
        <li class="<%= menu_hl(services_path) %>"><%= link_to 'Services', services_path %></li>
        <li class="">Learning Center</li>
        <li class="<%= menu_hl(about_path) %>"><%= link_to 'About', about_path %></li>
        <li class="<%= menu_hl(contact_path) %>"><%= link_to 'Contact', contact_path %></li>
        <li class="<%= menu_hl(admin_path) %>"><%= link_to 'Admin', admin_path %></li>
      </ul>
    </div>
    <%= yield %>

    <footer>
      <div class="wrapper wrapper--flex">
        <div class="col--four">
          <p>james signes</p>
        </div>
        <div class="col--two">
          <div class="info">
            <p class="street-address">10 Scarlett Road Toronto, ON, M6N 4J6</p>
            <p class="hours">Mon - Thursday : 8am - 5pm</p>
            <p class="hours">Friday : 8am - 1pm</p>
          </div>
        </div>
        <div class="col--four phone-number">
          <p><i class="fa fa-phone"></i> 416.767.4841</p>
          <p><i class="fa fa-phone"></i> 1.877.422.4841</p>
          <p><i class="fa fa-envelope-o"></i> info@james-signs.com</p>
        </div>
      </div>
    </footer>
  </body>
</html>
