<!DOCTYPE html>
<html>
  <head>
    <title>JamesSigns</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Flickety  -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://use.fontawesome.com/43bdd233ba.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <nav>
      <ul>
        <li class="<%= menu_hl(main_page_path) %>"><%= link_to 'James Signs', main_page_path %></li>
        <li class="<%= menu_hl(portfolio_sections_path)  %> <%= menu_hl(sub_category_path(@sub_category)) if @sub_category.present? %>"><%= link_to 'Portfolio', portfolio_sections_path %></li>
        <li class="<%= menu_hl(services_path) %>"><%= link_to 'Services', services_path %></li>
        <li class="">Learning Center</li>
        <li class="<%= menu_hl(about_path) %>"><%= link_to 'About', about_path %></li>
        <li class="<%= menu_hl(contact_path) %>"><%= link_to 'Contact', contact_path %></li>
        <% if current_user.present? %>
          <li class="<%= menu_hl(admin_path) %>"><%= link_to 'Admin', admin_path %></li>
          <li><%= link_to 'logout',destroy_user_session_path , method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    <div class="wrapper">
    </div>
    <%= yield %>

    <footer>
      <div class="wrapper wrapper--flex">
        <div class="col--four">
          <p>james signes</p>
          <div class="social-icons">
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
        <div class="col--two">
          <div class="info">
            <h3>Location and Schedule</h3>
            <p class="street-address">10 Scarlett Road Toronto, ON, M6N 4J6</p>
            <div class="hours-section">
              <p class="hours"><span class="day">Mon - Thursday</span> &emsp; 8am - 5pm</p>
              <p class="hours"><span class="day">Friday</span> &emsp; 8am - 1pm</p>
            </div>
          </div>
        </div>
        <div class="col--four phone-number">
          <h3>Contact Us</h3>
          <p><a href="tel:4167674841"> 416.767.4841</a></p>
          <p><a href="tel:18774224841">1.877.422.4841</a></p>
          <p>
            <%= mail_to "mailto:info@james-signs.com", "info@james-signs.com", target: "_blank"%>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
